<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>webListener</display-name>
    <context-param>
        <param-name>initParam</param-name>
        <param-value>FY470`webListener</param-value>
    </context-param>
    <session-config>
    	<session-timeout>1</session-timeout><!-- 时间维度min 设置为0，不设置session超时 -->
    </session-config>
</web-app>